ALGORITMO_REEMPLAZO=FIFO
PUERTO_BROKER=9898
TAMANO_MEMORIA=64
TAMANO_MINIMO_PARTICION=4
IP_BROKER=127.0.0.1
BACKLOG_SERVER=10
PROCESOS_REGISTRADOS=0
FRECUENCIA_COMPACTACION=1
ALGORITMO_MEMORIA=PD
ALGORITMO_PARTICION_LIBRE=FF
LOG_FILE=broker_logs_oficial
MENSAJES_REGISTRADOS=0
PRINT_OFICIAL=0
PRINT_NO_OFICIAL=0