POSICIONES_ENTRENADORES=[2|3,6|5,9|9,9|2,2|9]
POKEMON_ENTRENADORES=[]
OBJETIVO_ENTRENADORES=[Vaporeon,Jolteon,Flareon,Umbreon,Espeon]
CONNECTION_RETRY=30
RETARDO_CICLO_CPU=5
ALGORITMO_PLANIFICACION=RR
ALFA=0.5
ESTIMACION_INICIAL=5
QUANTUM=1
IP_BROKER=127.0.0.1
PUERTO=9898
IP_TEAM=127.0.0.1
PUERTO_TEAM=9899
BACKLOG_GAMEBOY=5
LOG_FILE=team_logs_oficial
PRINT_OFICIAL=0
PRINT_NO_OFICIAL=0