POSICIONES_ENTRENADORES=[0|0,5|5,10|10,1|23,12|34,14|50]
POKEMON_ENTRENADORES=[Pikachu]
OBJETIVO_ENTRENADORES=[Vaporeon|Jolteon,Flareon|Espeon|Onix,Pikachu,Squirtle|Bulbasaur,Jolteon|Pikachu]
CONNECTION_RETRY=10
RETARDO_CICLO_CPU=3
ALGORITMO_PLANIFICACION=SJFCD
ALFA=0.5
ESTIMACION_INICIAL=2
QUANTUM=1
IP=127.0.0.1
PUERTO=9898
IP_TEAM=127.0.0.1
PUERTO_TEAM=9897
BACKLOG_GAMEBOY=5
LOG_FILE=team_logs_oficial